{% extends "layout.html" %} 
{% comment %} You must write the path of the base file which you want to extent (like inheritance) {% endcomment %}

{% block title %} 
  Homepage 
{% endblock  %}

{% block content %}
  <h1>Chai aur code homepage</h1>
{% endblock  %}

{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Learning</title>
  <!-- <link rel="stylesheet" href="../../static/style.css"> -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h1>Learning Django internally by ChaiAurCode</h1>
</body>
</html> {% endcomment %}