{% extends "layout.html" %} 
{% comment %} You must write the path of the base file which you want to extent (like inheritance) {% endcomment %}

{% block title %} 
  Chai Detail Page 
{% endblock  %}

{% block content %}
<h1>test content for forms</h1>
<form method="POST">
  {% csrf_token %}
  {{form}}
  <button type="submit">Search Store</button>
</form>

{% if stores %}
  <h2>Stores available</h2>
  <ul>
    {% for store in stores %}
      <li> {{store.name}} - {{store.location}} </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock  %}

